USE master
GO
IF EXISTS (SELECT * FROM sysdatabases
			WHERE name = N'Quanlysinhvien')

DROP DATABASE Quanlysinhvien
GO
CREATE DATABASE Quanlysinhvien

ON
(name = 'Quanlysinhvien', FILENAME='E:\Quanlysinhvien.mdf', size=5MB, maxsize=10MB, filegrowth=1MB)
LOG ON
(name= 'Quanlysinhvien_log', FILENAME='E:\Quanlysinhvien.ldf', size= 1MB, maxsize=4MB, filegrowth=1MB)
GO
USE Quanlysinhvien
GO 
-----TẠO BẢNG STUDENT VỚI KHÓA CHÍNH LÀ MÃ SINH VIÊN ---
IF OBJECT_ID('STUDENT') IS NOT NULL
DROP TABLE STUDENT
GO
CREATE TABLE STUDENT (
MASV NVARCHAR (20),
NAME NVARCHAR(50),
EMAIL NVARCHAR(50),
PHONE NVARCHAR(20),
GIOITINH BIT,
DIACHI Nvarchar(100),
AVATAR NVARCHAR(50)

CONSTRAINT  PK_MASV PRIMARY KEY (MASV)
)

-------------------TẠO BẢNG  ĐIỂM  VỚI KHÓA PHỤ LÀ CỘT ID  ----
IF OBJECT_ID('DIEM') IS NOT  NULL
DROP  TABLE DIEM
GO
CREATE TABLE DIEM (
ID INT,
MASV NVARCHAR(20),
TIENGANH float,
TINHOC float,
GDTC float
CONSTRAINT PK_ID PRIMARY KEY (ID)
CONSTRAINT FK_STUDENT_DIEM  FOREIGN KEY (MASV) REFERENCES STUDENT
)
-----------------TẠO BẢNG THÔNG TIN NGƯỜI ĐĂNG NHẬP VỚI KHÓA CHÍNH LÀ USERNAME
IF OBJECT_ID('LOGIN') IS NOT NULL
DROP TABLE LOGIN
GO
CREATE TABLE LOGIN(
USERNAME NVARCHAR(20),
PASS  NVARCHAR(20),
QUYEN NVARCHAR(20)
CONSTRAINT PK_USERNAME PRIMARY KEY (USERNAME)
)
----- TRUY VẤN ----
SELECT * FROM STUDENT
SELECT * FROM DIEM
SELECT * FROM LOGIN
GO
---- CHEN DU LIEU VAO BANG SUDENT
INSERT INTO STUDENT VALUES('PH05424',N'TRẦN TUẤN KHẢI','tuankhai@gmail.com','0964365479',0,'GIAO TAN - NAM DINH','1.jpg')
INSERT INTO STUDENT VALUES('PH05425',N'NGUYỄN THỊ THÚY NGÂN','NGANNGAO@GMAIL.COM','0964365479',1,'PHU THO - VIET NAM','2.jpg')
INSERT INTO STUDENT VALUES('PH05426',N'NGUYỄN VĂN QUÂN','QUANNIN@gmail.com','0964365479',0,'HOAI DUC - HA NOI','3.jpg')
------------ CHEN DU LIEU VA BANG DIEM -  ------
INSERT INTO DIEM VALUES(1,'PH05424',8,9,10)
INSERT INTO DIEM VALUES(2,'PH05425',8,9,10)
INSERT INTO DIEM VALUES(3,'PH05426',8,9,10)
-------------- CHEN SU LIEU VAO BANG  LOGIN --------------
INSERT INTO LOGIN VALUES('admin','123',0)
INSERT INTO LOGIN VALUES('tuankhai','123',1)
INSERT INTO LOGIN VALUES('thuyngan','123',1)